@font-face {
  font-family: 'Montserrat-Bold';
  src        : url(../assets/fonts/Montserrat/Montserrat-Bold.woff)
}

@font-face {
  font-family: 'Montserrat-Regular';
  src        : url(../assets/fonts/Montserrat/Montserrat-Regular.woff)
}

@font-face {
  font-family: 'Montserrat-Medium';
  src        : url(../assets/fonts/Montserrat/Montserrat-Medium.woff)
}

@font-face {
  font-family: 'Gilroy-Regular';
  src        : url(../assets/fonts/gilroy/Gilroy-Regular.woff)
}

@font-face {
  font-family: 'Gilroy-Normal';
  src        : url(../assets/fonts/gilroy/Gilroy-Medium.woff)
}

@font-face {
  font-family: 'montserrat', sans-serif;

}

// declare a class which applies it
// .my-font {
//   font-family: 'customfont';
// }